.vol-form-box{
  max-width:600px;
  background:#fff;
  padding:30px;
  border-radius:8px;
    border: 2px solid #eeeeee;

}
.vol-form-box:hover{
background-color: #fff;
  box-shadow:0 4px 12px rgba(0,0,0,.1);

}
