
.event-card {
  background: #ffffff;
  border-radius: 25px;
  max-width: 550px;
}

.text-red {
  color: #bf2c2c;
}

.details-box {
  background: linear-gradient(to right, #ffefef, #f7d8f5);
  border-radius: 15px;
  max-width: 420px;
}

/* Register Button */
.register-btn {
  background-color: #146c43;
  border: none;
  color: white;
  padding: 10px 35px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 16px;
  transition: 0.3s ease-in-out;
}

.register-btn:hover {
  transform: scale(1.05);
  box-shadow: 0px 2px 5px#146c43;;
}



.event-box {
  background: #ffffff;
  border-radius: 10px;
  line-height: 1.7;
}

.event-box ul {
  padding-left: 18px;
}
