.faq-container {
  max-width: 900px;
  margin: 0 auto;
}

.faq-header h2 {
  font-size: 2rem;
}

.accordion-button {
  background-color: #e6e6e6;
  color: #000;
  font-weight: 500;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-body {
  background-color: #f5f5f5;
}


.contact-alt {
  background: #f8f9fa;
}

.contact-card {
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 8px 20px rgba(0,0,0,.05);
}

.icon-box {
  width: 55px;
  height: 55px;
  margin: auto;
  border-radius: 50%;
  background: #e8f5e9;
  color: #2e7d32;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}

