/* footer background */
.bg-color1 {
  background-color: #c7b223;
}

/* description text */
.subtext1 {
  max-width: 90%;
  font-size: 16px;
  line-height: 1.6;
  color: #2f2f2f;
}

/* heading */
.h-3 {
  color: #20500d;
  font-weight: bold;
  font-size: 27px;
}

/* links */
.footer-links li {
  margin-bottom: 15px;
}

.footer-links li a {
  color: #0a3b01;
  text-decoration: none;
  font-size: 17px;
}

.footer-links li a:hover {
  color: #000;
  text-decoration: underline;
}

/* contact */
.footer-contact p {
  margin: 0;
}

.footer-link {
  color: #33642f;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}

.footer-link:hover {
      color: #20500d; 
  text-decoration: underline;
}

/* map */
.footer-map {
  border: 0;
  border-radius: 4px;
}
