.agm-timeline-wrapper {
  position: relative;
  max-width: 800px;
  margin: auto;
  
}

.agm-timeline-wrapper::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 2px;
  height: 100%;
  background: #d0d0d0;
  transform: translateX(-50%);
}

.agm-timeline-item {
  text-align: center;
  margin-bottom: 60px;
  position: relative;
}

.agm-year-badge {
  display: inline-block;
  background: #0d6efd;
  color: #fff;
  padding: 4px 14px;
  border-radius: 30px;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 15px;
}

.agm-timeline-card {
  background: #ffffff;
  padding: 20px 25px;
  border-radius: 12px;
  display: inline-block;
  width: 100%;
  max-width: 520px;
  border: 1px solid rgb(235, 235, 235);
}
.agm-timeline-card:hover{
background-color: #ffffff;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);

}

.agm-timeline-card h6 {
  font-weight: 600;
  margin-bottom: 10px;
}

.agm-points {
  text-align: left;
  padding-left: 18px;
  font-size: 14px;
}

.agm-points li {
  margin-bottom: 6px;
}

.agm-note {
  color: #888;
  font-size: 14px;
}
